plugins:
  - jekyll-feed
  - jekyll-sitemapç
  - jekyll-relative-links

# SEO Stuff
name: Slow Trains Fast Walks (and vice versa)
author: Alan Grant
description: A personal site and blog about train travel and hiking, main in the province of Málaga
lang: en
locale: en_GB
url: "https://slowtrainsfastwalks.com"
baseurl: ""

# RSS feeds
feed:
  posts_limit: 20

permalink: /:categories/:title/

exclude:
  - Gemfile
  - Gemfile.lock
  - LICENSE
  - README.md
  - CNAME

titles_from_headings:
  enabled:     true
  strip_title: false
  collections: true

relative_links:
  enabled: true
  collections: true