/* centre images and iframes in articles */ 
article img, article iframe {
    display: block;
    margin: 1rem auto 1rem auto;
}

/* centre link immediately after iframe (for umap embeds, openstreetmap embeds) */
article iframe + p, article iframe + small {
    text-align: center;
    font-size: 1rem;
}

body > header {
    padding-bottom: 0.5rem; /* less padding than the original  */
}

/* site name in header (not set up as a heading so needs style) */
p.headername
{
    max-width: 1200px;
    margin: 1rem auto;
    overflow-wrap: break-word;
    line-height: 1.1;
    font-size: 2rem;
    font-weight: bold;
}

/* remove border and padding from articles on mobile */
@media only screen and (max-width: 720px) {
    article {
      border: none;
      padding: 0;
    }
}

/* style each entry in blog list */
div.blogentry
{
    border-bottom: 1px;
}

div.blogentry img
{
    max-width: 400px;
}
