---
layout: default
---
<article>
{{ content }}

<h2>Locator map</h2>

{{ page.lat }}
{{ page.lon }}

<iframe height="300" allowfullscreen allow="geolocation" src="//umap.openstreetmap.fr/en/map/everystationmalaga_943076?scaleControl=false&miniMap=false&scrollWheelZoom=false&zoomControl=true&editMode=disabled&moreControl=true&searchControl=null&tilelayersControl=null&embedControl=null&datalayersControl=true&onLoadPanel=none&captionBar=false&captionMenus=true&fullscreenControl=true&locateControl=null&measureControl=null&editinosmControl=null#18/36.90678/-4.75901"></iframe>
<p><a href="//umap.openstreetmap.fr/en/map/everystationmalaga_943076?scaleControl=false&miniMap=false&scrollWheelZoom=true&zoomControl=true&editMode=disabled&moreControl=true&searchControl=null&tilelayersControl=null&embedControl=null&datalayersControl=true&onLoadPanel=caption&captionBar=false&captionMenus=true&feature=El%20Chorro-Caminito%20del%20Rey&fullscreenControl=true&locateControl=null&measureControl=null&editinosmControl=null#18/36.90678/-4.75901">See full screen</a></p>

</article>
